
body {
    font-family: Arial;
    background: #f4f6f9;
    padding: 20px;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

input, button {
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background: #007bff;
    color: white;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background: #007bff;
    color: white;
}

tr:nth-child(even) {
    background: #f2f2f2;
}
.table-container {
    max-height: 400px; /* altura da tabela */
    overflow-y: auto;  /* scroll só aqui */
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Cabeçalho fixo */
th {
    position: sticky;
    top: 0;
    background: #007bff;
    color: white;
    z-index: 2;
}

/* Mantém filtros fixos no topo da página */
form {
    position: sticky;
    top: 0;
    background: white;
    padding-bottom: 10px;
    z-index: 3;
}
